#mc_embed_signup {
    .clear {
        margin-left: -5px;
    }
    input {
        min-height: 55px;
        margin: 0 auto;
        border-radius: 0 !important;
        font-family: $sans-serif !important;
    }
    input[type=email] {
        border: 3px solid $default-shade !important;
    }
    input[type=submit] {
        background-color: $default-shade !important;
        &:hover {
            background-color: $default-color !important;
        }
    }
}