.not-found {
    margin-top: 5em;
    
    a > img {
        margin: auto;
        display: block;
    }

    .not-found-description {
        margin-top:2em;
        text-align: center;
    }

    .divider {
        margin-top: 2em;
    }
}