<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <nav class="nav">
    <div class="nav-container">
      <a href="{{ site.baseurl }}/">
        <h2 class="nav-title">{{ site.title }}</h2>
      </a>
      <ul>
        <li>
          <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer>
    <div class="social">
      <a href="mailto:{{site.email.username}}" class="social-email" target="_blank">
        <i class="fa fa-envelope fa-2x"></i>
      </a>
      <a href="https://www.twitter.com/{{site.twitter.username}}" target="_blank" class="social-twitter">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://www.github.com/{{site.github.username}}" target="_blank" class="social-github">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/{{site.linkedin.username}}" target="_blank" class="social-linkedin">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/{{site.instagram.username}}" target="_blank" class="social-instagram">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
    <div class="copyright">
      <span>
        &copy;
        <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
      </span>
    </div>
  </footer>
</body>

</html>