---
layout: default
---

<div class="post">
  {% if page.show_info == true %}
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}

    <br>
  </div>
  {% endif %}

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="divider"></div>
  
   {% if page.show_share_buttons != false %}
   <div class="post-share">
    {% include share_buttons.html %}
   </div>
  {% endif %}

  {% if page.show_subscribe_info == true %}
  <div class="divider"></div>
    {% include subscribe_info.html %}

  {% endif %}

  {% if page.tags %}
  <div class="post-tags">
    <div class="divider"></div>
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <span class="post-tag"><a href="/tag/{{ tag_name }}">{{ tag_name }}</a></span>
    {% endfor %}
  </div>
  {% endif %}
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
